body{
    background: linear-gradient(red,white);
    
    height: 100vh;
    display: flex;
    align-items: center;
     justify-content: center;
        
    }
    
    
    .container{
       
    background: rgba(255, 255, 255, 0.822);
    border-radius: 1rem;
    width: 20rem;
    height: 27rem;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     box-shadow: 4rem 2rem 1rem rgba(0, 0, 0, 0.733);
     gap: 1rem;
    
     
    
    
    }
    
    .container input{
      
        background: none;
      border: none;
      outline: none;
        border-bottom: 2px solid black;
    }
    
    .container button{
    
        cursor: pointer;
    }
    
    #calcular{
    
        width: 20%;
        height: 7%;
        border-radius: 50%;
        color: white;
        background: red;
    }
    
    .video-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
    }
    
    
    .video-background video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    